$cardShadow: rgba(#aaa, 0.16) 0px 1px 4px;
$hoverTransition: 0.25s ease-in-out;

.preview {
  transition: box-shadow $hoverTransition;
  &:hover,
  &:active,
  &:focus-within {
    box-shadow: $cardShadow, rgba(#aaa, 0.16) 0px 0px 0px 10px;
    img {
      box-shadow: none;
    }
    .preview-caption__stats {
      flex: 1;
      opacity: 1;
    }
    .preview-expand {
      display: none;
      @media (min-width: 510px) {
        display: block;
      }
      transition-delay: 0s;
      opacity: 0.9;
      &__wrapper {
        transform: scale(.9);
      }
    }
  }

  img,
  iframe {
    border-radius: 2px;
  }

  &__frame-wrapper {
    width: 100%;
  }

  &__iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: scale(0.25);
    transform-origin: top left;
    width: 400%;
    height: 400%;
    pointer-events: none;
  }

  &__frame {
    width: 100%;
    background-color: rgba(#fff, 0.9);
    position: relative;
    padding-bottom: percentage(1440 / 2560);

    & img {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__cover-link{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    span {
      display: none;
    }
  }

  &--fetching {
    .preview-caption {
      opacity: 0;
    }
    &,
    &:hover,
    &:active,
    &:focus-within {
      box-shadow: none;
    }

    &.preview--fake {
      visibility: visible;
    }
  }

  &--fake {
    visibility: hidden;
    .preview-caption {
      opacity: 0;
    }
  }
}

.preview-caption {
  padding: 5px;
  width: 100%;

  &__stats {
    width: 0;
    flex: 0;
    opacity: 0;
    will-change: opacity;
    transition: all $hoverTransition;
    margin-right: -4px;
  }

  &__stat {
    padding: 0 4px;
    font-size: 14px;

    svg {
      margin-right: 3px;
    }
  }
}


.preview-expand {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  color: #ccc;
  padding: 1em 1em 1em 20%;
  z-index: 1;
  opacity: 0;
  transition: .25s cubic-bezier(.5,0,.5,1);
  transition-property: opacity, display;
  overflow: hidden;
  border-radius: inherit;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    background: linear-gradient(to bottom left,rgba(#ddd,.7),rgba(#444,.2),transparent 49%);
    opacity: .8;
    transition: inherit;
    transform: scale(.9);
    transform-origin: top right;
    transition-property: opacity,transform;
  }
  &:hover{
    color: white;
    opacity:0.9;
    &:before{
      opacity: .99;
      transform: none;
    }
    .preview-expand__wrapper {
      transform: scale(1);
      background-color: #717790;
    }
  }
  &__wrapper {
    display: block;
    height: inherit;
    z-index: 1;
    border: none;
    border-radius: 6px;
    padding: .5em;
    background: #666;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    transform: translate(.25rem) scale(.9);
    transition: .25s cubic-bezier(.5,0,.5,1);
    transition-property: transform,background-color,opacity;
  }
  &__icon {
    display: block;
    fill: currentColor;
    width: 16px;
    height: 16px;
  }
}
